<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto.goliat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vistas.MainRegistro"></activity>
        <activity android:name=".vistas.MainMenuPrincipal" />
        <activity
            android:name=".vistas.ListPLimpieza"
            android:label="@string/limpieza" />
        <activity
            android:name=".vistas.ListBAlcoholicas"
            android:label="@string/alcohol" />
        <activity
            android:name=".vistas.ListBebidas"
            android:label="@string/bebidas" />
        <activity
            android:name=".vistas.ListGolosinas"
            android:label="@string/golosinas" />
        <activity
            android:name=".vistas.ListAbarrotes"
            android:label="@string/abarrotes" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxHvbZWcfYmPYMT3MGHeAjoeyuvx_VnNo" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>